.fileBlock {
  width: 122px;
  height: 129px;
  margin: 4px 0 0 6px;
}

.fileBlock:hover {
  cursor: pointer;
  background: #f1f5fa;
  border-radius: 5px;
}

.pictureLogo {
  width: 84px;
  height: 84px;
  margin: 9px 18px 0;
}

.musicLogo {
  width: 84px;
  height: 84px;
  margin: 9px 18px 0;
  background: url('./../../../../src/static/images/attachmentView/Music_logo.png') no-repeat center center;
}

.videoLogo {
  width: 84px;
  height: 84px;
  margin: 9px 18px 0;
  background: url('./../../../../src/static/images/attachmentView/Video_logo.png') no-repeat center center;
}

.pdfLogo {
  width: 84px;
  height: 84px;
  margin: 9px 18px 0;
  background: url('./../../../../src/static/images/attachmentView/PDF_logo.png') no-repeat center center;
}

.wordLogo {
  width: 84px;
  height: 84px;
  margin: 9px 18px 0;
  background: url('../../../static/images/attachmentView/Word_logo.png') no-repeat center center;
}

.pptLogo {
  width: 84px;
  height: 84px;
  margin: 9px 18px 0;
  background: url('./../../../../src/static/images/attachmentView/PPT_logo.png') no-repeat center center;
}

.excelLogo {
  width: 84px;
  height: 84px;
  margin: 9px 18px 0;
  background: url('./../../../../src/static/images/attachmentView/Excel_logo.png') no-repeat center center;
}

.fileName {
  display: block;
  width: 110px;
  height: 18px;
  margin: 6px 5px 5px;
  overflow: hidden;
  font-size: 14px;
  line-height: 18px;
  color: #424e67;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
