.view-music-container {
  position: fixed;
  bottom: 0;
  z-index: 99;
  width: 400px;
  height: 395px;
  background-color: #fff;
  border: 1px solid #dedede;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: 0 0 10px #ccc;
}

.miniView-music-container {
  animation: mini-view .5s ease-in forwards;
}

.maxView-music-container {
  animation: max-view .5s ease-in forwards;
}
@keyframes mini-view {
  0% {
    bottom: 0;
  }

  100% {
    bottom: -350px;
  }
}
@keyframes max-view {
  0% {
    bottom: -350px;
  }

  100% {
    bottom: 0;
  }
}

.music-switch-button {
  :hover {
    color: @primary-color;
  }
}

.music-header-title {
  position: relative;
  height: 44px;
  font-size: 14px;
  line-height: 42px;
}

.music-switch {
  position: absolute;
  right: 0;
  padding: 0 15px 0 35px;
  font-weight: 700;
}

.music-controls-container {
  width: 100%;
  height: 120px;
  padding: 0 6px;
  background: #f8fafe;
}

.music-controls {
  position: relative;
  display: flex;
  height: 70px;
  padding-top: 10px;
  font-size: 36px;
  justify-content: center;
  align-items: center;
}

.play-pause-controls {
  width: 220px;
}

.music-volume-controls {
  position: absolute;
  top: 30px;
  right: 46px;
  font-size: 22px;
}

.music-slider-container {
  position: absolute;
  top: 56px;
  right: 43px;
  z-index: 2;
  width: 30px;
  height: 110px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 10px #ccc;
}

.music-slider {
  height: 85px;
  margin: 13px 9px !important;
}

.music-controls-progress {
  .ant-slider-track {
    background-color: @primary-color;
  }

  .ant-slider-handle {
    opacity: 0;
  }

  :hover {
    .ant-slider-handle {
      opacity: 1;
    }

    .ant-slider-track {
      background-color: @primary-color;
    }
  }
}

.music-musicItem-block {
  width: 100%;
  height: 230px;
  overflow-y: auto;
}

.music-musicItem-block::-webkit-scrollbar {
  display: none;
}

.music-musicItem-container {
  display: flex;
  width: 100%;
  height: 46px;
  cursor: pointer;
  border-bottom: 1px solid #f0f0f0;
  align-items: center;

  :hover {
    background-color: #f8fafe;
  }
}

.music-musicItem-content {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 5px 15px;
  justify-content: space-between;
  align-items: center;
}

.music-musicItem-download {
  font-size: 18px;

  :hover {
    color: @primary-color;
  }
}
