.view-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.98);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.view-image-container {
  width: 100vw;
  height: calc(100vh - 170px);
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-icon-container {
  position: fixed;
  right: 10px;
  top: 10px;
  display: flex;
  font-size: 24px;
  z-index: 3;
}
.center-icon {
  cursor: pointer;
  color: #eee !important;
  transition: all 0.3s;
}
.center-icon:hover {
  cursor: pointer;
  color: red !important;
  transition: all 0.3s;
}
.close-icon {
  cursor: pointer;
  color: #eee !important;
  transition: all 0.3s;
}
.close-icon:hover {
  color: red !important;
  transition: all 0.3s;
}
.left-arrow {
  position: fixed;
  left: 10px;
  font-size: 45px;
  cursor: pointer;
  color: #888 !important;
  z-index: 3;
  transition: all 0.3s;
}
.left-arrow:hover {
  color: #eee !important;
  transition: all 0.3s;
}
.right-arrow {
  position: fixed;
  right: 10px;
  font-size: 45px;
  cursor: pointer;
  color: #888 !important;
  z-index: 3;
  transition: all 0.3s;
}
.right-arrow:hover {
  color: #eee !important;
  transition: all 0.3s;
}
